<% include ../partials/header %>

<h1><%= camp.name %></h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="<%= camp.img %>"></img>
            </div>
        </div>
        <div class="col-md-6">
            <div><br><br><%= camp.desc %></div>
        </div>
        <% camp.comments.forEach(function(comment){ %>
            <div class="col-md-12">
                <div class="thumbnail">
                    <p><strong><%= comment.author %></strong></p>
                    <p><%= comment.text %></p>
                </div>
            </div>
        <% }); %>
    </div>
    
    <a href="/campgrounds/<%= camp._id %>/comments/new" class="btn-lg btn-default">Add New Comment</a>
</div>

<% include ../partials/footer %>