<% include partials/header %>

<div class="ui inverted main text container segment">
    <div class="ui huge header centered"><%= blog.title %></div>
    <div class="date"><%=blog.date.toDateString()%></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>"></img>
            <div class="description"><%-blog.body%></div>
        </div>
    </div>
         
    <div class="padding">   
        <a href='/blogs/<%=blog._id%>/edit' class="ui big inverted teal basic button">EDIT</a>
        
        <form action='/blogs/<%=blog._id%>?_method=DELETE' class="ui inverted form form-button" method="POST">
            <button class="ui big inverted red basic button right">DELETE</button>
        </form>
    </div>
</div>

<% include partials/footer %>